@font-face {
	font-family: 'mayicon';
	src:url('fonts/mayicon.eot?-gl87wh');
	src:url('fonts/mayicon.eot?#iefix-gl87wh') format('embedded-opentype'),
		url('fonts/mayicon.ttf?-gl87wh') format('truetype'),
		url('fonts/mayicon.woff?-gl87wh') format('woff'),
		url('fonts/mayicon.svg?-gl87wh#mayicon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'mayicon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-star:before {
	content: "\f005";
}
.icon-star-o:before {
	content: "\f006";
}
.icon-times-circle-o:before {
	content: "\f05c";
}
